/Personal-Keyboard-Mapper/Personal-Keyboard-Mapper/bin
/Personal-Keyboard-Mapper/Personal-Keyboard-Mapper/obj
/Personal-Keyboard-Mapper/Personal_Keyboard_Mapper.*/bin
/Personal-Keyboard-Mapper/Personal_Keyboard_Mapper.*/obj
packages
bin
obj
